body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,h2{
  text-align: center;
}

.red-title{
  color: red;
}

.title{
  font-weight: bolder;
}